contourpy==1.1.0
cycler==0.11.0
distro==1.8.0
et-xmlfile==1.1.0
fonttools==4.40.0
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.25.0
openpyxl==3.1.2
packaging==23.1
pandas==2.0.3
parse==1.19.1
Pillow==10.0.0
pyparsing==3.1.0
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
tabula==1.0.5
tabula-py==2.7.0
tzdata==2023.3
